node_modules
.DS_Store

#KEYS
*.key
node_modules/
.idea/
/locklift.config.js
migration-log.json

build/Index*
build/TokenWallet*
build/TokenRoot*

build/Callbacks.base64
build/Callbacks.code
build/Callbacks.tvc
